body {
  position: absolute;
  left: 0px;
  top: 0px;

  background: #141C2D;
}

.shahH {
  position: absolute;
  width: 290px;
  left: 130px;
  top: 100px;
}


.description {
  position: absolute;
  width: 1271px;
  height: 58px;
  left: 135px;
  top: 215px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;

  color: #E7E7E7;
}

.companies {
  position: absolute;
  width: 269px;
  height: 39px;
  left: 204px;
  top: 377px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;

  color: #E7E7E7;
}



/* EUROSales */
.eurologo {
  position: absolute;
  width: 62px;
  left: 204px;
  top: 466px;
}

.eurotxtname {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 284px;
  top: 442px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;

  color: #E7E7E7;
}

.eurotxtdescription {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 284px;
  top: 462px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 44px;

  color: #E7E7E7;
}

/* JoxusJewelry */
.joxuslogo {
  position: absolute;
  width: 42px;
  left: 604px;
  top: 466px;
}

.joxustxtname {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 664px;
  top: 442px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;

  color: #E7E7E7;
}

.joxustxtdescription {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 664px;
  top: 462px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 44px;

  color: #E7E7E7;
}

/* InShoe */
.inshoelogo {
  position: absolute;
  width: 62px;
  left: 204px;
  top: 549px;
}

.inshoetxtname {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 284px;
  top: 542px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;

  color: #E7E7E7;
}

.inshoetxtdescription {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 284px;
  top: 562px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 44px;

  color: #E7E7E7;
}

/* E36 Auto Service */
.e36logo {
  position: absolute;
  width: 72px;
  left: 584px;
  top: 549px;
}

.e36txtname {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 664px;
  top: 542px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;

  color: #E7E7E7;
}

.e36txtdescription {
  position: absolute;
  width: 211px;
  height: 70px;
  left: 664px;
  top: 562px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 44px;

  color: #E7E7E7;
}

.copyright {
  position: absolute;
  width: 1271px;
  height: 58px;
  left: 135px;
  top: 833px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;

  color: #E7E7E7;
}
